view,
navigator,
input,
scroll-view {
  box-sizing: inherit;
}

scroll-view ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
}

button::after {
  border: none !important;
}

button[disabled] {
  background-color: rgba($color: #1473e2, $alpha: 1) !important;
  color: #a4a8b1 !important;
}
