// 主题变量清单查看此文件：
// https://github.com/Moonofweisheng/wot-design-uni/blob/master/src/uni_modules/wot-design-uni/components/common/abstracts/variable.scss

.wd-input {
  border-radius: 6px;
  padding: 4px 12px;

  .wd-input__placeholder {
    color: #7f7f7f;
  }
}

// :deep(.wd-picker__cell) {
//   border-radius: 8px;
//   background-color: #f7f7f7 !important;
//   padding: 4px 12px !important;
// }

// .wd-textarea__count {
//   background-color: transparent !important;
// }

// :deep(.wd-search) {
//   --wot-search-input-height: 35px;
// }
