view,
navigator,
input,
scroll-view {
  box-sizing: inherit;
}

scroll-view ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
}

button,
button::after {
  border: none !important;
}
